{% extends 'base.html.twig' %}

{% block title %}Головна{% endblock %}

{% block body %}
    {% block content %}
        {% include 'header.html.twig' %}
        {% include 'slider.html.twig' %}
        <div class="container p-4">
            <div class="row">
                {% include 'new-items-side-bar.html.twig' %}
                <div class="col ml-3">
                    <div class="row" style="background: #219653">
                        <div class="col ml-3 bg-dark">
                            <h5 class="p-2 m-0">Головна</h5>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col text-dark">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices congue
                                tortor,
                                at
                                condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                ultrices
                                congue tortor, at condimentum turpis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices congue
                                tortor,
                                at
                                condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                ultrices
                                congue tortor, at condimentum turpis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices congue
                                tortor,
                                at
                                condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                ultrices
                                congue tortor, at condimentum turpis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices congue
                                tortor,
                                at
                                condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                ultrices
                                congue tortor, at condimentum turpis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices congue
                                tortor,
                                at
                                condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                ultrices
                                congue tortor, at condimentum turpis.</p>

                        </div>
                    </div>
                    <div class="row align-content-center">
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <a href="{{ path('catalog') }}" type="button" class="btn text-white"
                                   style="background: #219653; font-size: large">Перейти до
                                    каталогу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}