{% extends 'base.html.twig' %}

{% block title %}Контакти{% endblock %}

{% block body %}
    <style>
        .label {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;

            color: #000000;
        }

        .form-input {
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 4px;
            background: transparent;
            font-size: 16px;
        }

        .form-area {
            hei
        }

        .form-button {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: white;
            width: 100%;
            background: #219653;
        }

        .form-button:hover {
            color: white;
        }
    </style>
    {% block content %}
        {% include 'header.html.twig' %}
        {% include 'slider.html.twig' %}
        <div class="container p-4">
            <div class="row">
                {% include 'new-items-side-bar.html.twig' %}
                <div class="col ml-3">
                    <div class="row" style="background: #219653">
                        <div class="col ml-3 bg-dark">
                            <h5 class="p-2 m-0">Контакти</h5>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="text-dark">
                            <span>
                                Маєте пропозиції щодо розвитку сайту? Знаєте круті онлайн-сервіси, а ми ні?
                                Напишіть нам або зателефонуйте та поділіться цією інформацією. Для нас це важливо!
                            </span>
                            <div class="row my-3">
                                <div class="col contact_item">
                                    <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M3.2 6.93333C4.44444 9.42222 6.57778 11.4667 9.06667 12.8L11.0222 10.8444C11.2889 10.5778 11.6444 10.4889 11.9111 10.6667C12.8889 11.0222 13.9556 11.2 15.1111 11.2C15.6444 11.2 16 11.5556 16 12.0889V15.1111C16 15.6444 15.6444 16 15.1111 16C6.75556 16 0 9.24444 0 0.888889C0 0.355556 0.355556 0 0.888889 0H4C4.53333 0 4.88889 0.355556 4.88889 0.888889C4.88889 1.95556 5.06667 3.02222 5.42222 4.08889C5.51111 4.35556 5.42222 4.71111 5.24444 4.97778L3.2 6.93333Z"
                                              fill="black"/>
                                    </svg>
                                    +380984611714
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col contact_item">
                                    <svg class="mr-1"
                                         width="16" height="13" viewBox="0 0 16 13" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4419 11.4844V0.556793H0.558228V11.4844H15.4419Z" stroke="black"
                                              stroke-width="1.5"/>
                                        <path d="M0.696655 0.695984L7.11747 7.18644C7.59339 7.66486 8.45939 7.6592 8.92526 7.1908L15.3417 0.748222"
                                              stroke="black" stroke-width="1.5"/>
                                        <path d="M0.916992 11.1246L5.83657 6.1076" stroke="black" stroke-width="1.5"/>
                                        <path d="M15.0266 11.0667L10.2396 6.17719" stroke="black" stroke-width="1.5"/>
                                    </svg>
                                    work.alekseenko@gmail.com
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col">
                                    <p>Також Ви можете заповнити форму та залишити Ваш відгук.</p>
                                </div>
                            </div>
                            <hr style="background: black"/>
                            <div>
                                {{ form_start(form) }}
                                <div class="row py-2">
                                    <div class="col-md-2">
                                        {{ form_label(form.surname, null, {
                                            'label': "Прізвище",
                                            'label_attr': {'class': 'label'}
                                        }) }}
                                    </div>
                                    <div class="col-md-10">
                                        {{ form_widget(form.surname, {'attr': {'class': 'form-input'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2">
                                    {{ form_label(form.name, null, {
                                        'label': "Ім'я",
                                        'label_attr': {'class': 'label'}
                                    }) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-input'}}) }}
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2">
                                    {{ form_label(form.email, null, {
                                        'label': "E-mail",
                                        'label_attr': {'class': 'label'}
                                    }) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2">
                                    {{ form_label(form.description, null, {
                                        'label': "Відгук",
                                        'label_attr': {'class': 'label'}
                                    }) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(form.description, {'attr': {'class': 'form-input form-area'}}) }}
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-4 ml-auto">
                                    {{ form_widget(form.save, {
                                        'label': "Надіслати",
                                        'attr': {'class': 'form-button'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}
