<footer class="bg-dark footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('LOGO.svg') }}" width="100" height="30" alt="" loading="lazy">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices congue tortor, at
                    condimentum turpis. </p>
            </div>
            <div class="col-md-4 ml-auto">
                <p>Контакти</p>
                <div class="row">
                    <div class="col contact_item">
                        <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.2 6.93333C4.44444 9.42222 6.57778 11.4667 9.06667 12.8L11.0222 10.8444C11.2889 10.5778 11.6444 10.4889 11.9111 10.6667C12.8889 11.0222 13.9556 11.2 15.1111 11.2C15.6444 11.2 16 11.5556 16 12.0889V15.1111C16 15.6444 15.6444 16 15.1111 16C6.75556 16 0 9.24444 0 0.888889C0 0.355556 0.355556 0 0.888889 0H4C4.53333 0 4.88889 0.355556 4.88889 0.888889C4.88889 1.95556 5.06667 3.02222 5.42222 4.08889C5.51111 4.35556 5.42222 4.71111 5.24444 4.97778L3.2 6.93333Z"
                                  fill="white"/>
                        </svg>
                        +380984611714
                    </div>
                </div>
                <div class="row">
                            <div class="col contact_item">
                                <svg class="mr-1"
                                        width="16" height="13" viewBox="0 0 16 13" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4419 11.4844V0.556793H0.558228V11.4844H15.4419Z" stroke="white"
                                          stroke-width="1.5"/>
                                    <path d="M0.696655 0.695984L7.11747 7.18644C7.59339 7.66486 8.45939 7.6592 8.92526 7.1908L15.3417 0.748222"
                                          stroke="white" stroke-width="1.5"/>
                                    <path d="M0.916992 11.1246L5.83657 6.1076" stroke="white" stroke-width="1.5"/>
                                    <path d="M15.0266 11.0667L10.2396 6.17719" stroke="white" stroke-width="1.5"/>
                                </svg>
                                work.alekseenko@gmail.com
                            </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">Copyright 2020 © Alekseienko Viktoriia</div>
        </div>
    </div>
</footer>