<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    {#            TODO mb make logo#}

    <div class="container">
    <a class="navbar-brand" href="{{ path('main') }}">
        <img src="{{ asset('LOGO.svg') }}" width="100" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.get('_route') == 'main' ? 'bg-secondary' }}">
                <a class="nav-link text-white " href="{{ path('main') }}">Головна</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'catalog' ? 'bg-secondary' }}">
                <a class="nav-link text-white " href="{{ path('catalog') }}">Каталог</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'contact' ? 'bg-secondary' }}">
                <a class="nav-link text-white" href="{{ path('contact') }}">Контакти</a>
            </li>
        </ul>
        <form class="col form-inline my-2 my-lg-0" action="{{ path('sub_catalog') }}">
            <input class="col form-control mr-sm-2" id="search" name="search" type="search" placeholder="Пошук" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
        </form>
    </div></div>
</nav>
