<div class="col-md-3 ">
    <div class="row" style="background: #219653">
        <div class="col ml-3 bg-dark">
            <h5 class="p-2 m-0">Новинки</h5>
        </div>
    </div>
    {% for item in items|slice(0,2) %}
        <div class="row p-3 ml-2 mr-2">
            <div class="card" style="background: #E0E0E0">
                <div class="card m-4">
                    <img src="{{ item.image }}" style="height: 200px"
                         class="card-img" alt="...">
                </div>
                <hr style="height: 6px; background: #C4C4C4" class="m-0"/>
                <div class="card-body">
                    <h5 class="card-title text-dark text-center">{{ item.title }}</h5>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn text-white" style="background: #219653; font-size: large">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>