{% extends 'base.html.twig' %}

{% block title %}Категорії{% endblock %}
{% block body %}
    <style>
        .nav-menu-item-style {
            color: black;
        }

        .nav-menu-item-style:hover {
            color: black;
            background: rgba(0, 0, 0, 0.2);
            text-decoration: none;
        }

    </style>
    {% block content %}
        {% include 'header.html.twig' %}
        {% include 'slider.html.twig' %}
        <div class="container p-4">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="row" style="background: #219653">
                        <div class="col ml-3 bg-dark">
                            <h5 class="p-2 m-0">Категорії</h5>
                        </div>
                    </div>
                    <nav class="nav flex-column text-dark">
                        <ul class="nav nav-tabs" style="border-bottom-color: transparent">
                            <li class="nav-item w-100">
                                {% for item in category %}
                                    <button class="border-0 w-100 text-left"
                                            data-target="{{ item.subCategory|length > 0 ? '#subcategory' ~ item.id : '' }}"
                                            data-toggle="collapse" aria-expanded="false"
                                            class="flex-column align-items-start"
                                            style="border-bottom-color: transparent">
                                        <div class="d-flex w-100 justify-content-start align-items-center nav-menu-item-style p-1 py-2 mt-2"
                                             style="border-top: 1px solid black;">
                                            <span class="mr-3"></span>
                                            <a class="text-decoration-none text-dark"
                                               href="{{ path('sub_catalog', {'cat_id': item.id}) }}">
                                                <span class="menu-collapsed">{{ item.title }}</span>
                                            </a>
                                            {% if item.subCategory|length > 0 %}
                                                <img class="ml-auto" src="{{ asset('ic_dropdown.svg') }}">
                                            {% endif %}
                                        </div>
                                        {% if item.subCategory|length > 0 %}
                                            <div id="{{ 'subcategory' ~ item.id }}" class="collapse col">
                                                {% for j in item.subCategory %}
                                                    <a href="{{ path('sub_catalog', {'cat_id': item.id, 'sub_id': j.id}) }}"
                                                       class="row nav-menu-item-style text-black">
                                                        <div class="col-9 ml-auto py-1"
                                                             style="border-top: 1px solid black;">
                                                            {{ j.title }}
                                                        </div>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </button>
                                {% endfor %}
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col ml-3">
                    <div class="row" style="background: #219653">
                        <div class="col ml-3 bg-dark">

                            <h5 class="p-2 m-0">{{ cat ? cat.title : 'Категорія' }}</h5> {#TODO Оно не роботает, выводит подкатегорию, а не категорию#}
                        </div>
                    </div>
                    <div class="py-2 bg-light">
                        <div class="row">
                            {% for item in items %}
                                <div class="col-md-6 py-2">
                                    <a href="{{ path('sub_catalog') }}" class="bg-dark">
                                        <div class="row no-gutters h-md-250 position-relative">
                                            <div class="col-auto d-none d-lg-block">
                                                <img src="{{ item.image }}" alt="..." height="232px" width="180px">
                                            </div>
                                            <div class="col my-auto p-2" style="background: #C4C4C4; height: 170px">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col font-weight-bold text-dark">
                                                            <h6>{{ item.title }}</h6>
                                                        </div>
                                                        <div class="col-3">
                                                            <img src="https://img.icons8.com/android/24/000000/right.png"
                                                                 height="16px" width="16px"/></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col">
                                                            <p class="text-dark" style="text-overflow: ellipsis;  height:120px;
  overflow:hidden;
  width:100%;
  word-break:break-all;
  white-space:normal;">{{ item.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="navigation">
                        {#                        {{ knp_pagination_render(items, 'paginator.html.twig') }}#}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}
