{% extends 'base.html.twig' %}

{% block title %}Каталог{% endblock %}

{% block body %}
    {% block content %}
        {% include 'header.html.twig' %}
        {% include 'slider.html.twig' %}
        <div class="container p-4">
            <div class="row">
                {% include 'new-items-side-bar.html.twig' %}
                <div class="col ml-3">
                    <div class="row" style="background: #219653">
                        <div class="col ml-3 bg-dark">
                            <h5 class="p-2 m-0">Категорії</h5>
                        </div>
                    </div>
                    <div class="album py-2 bg-light">
                        <div class="row">
                            {% for item in category %}
                                <div class="col-md-3 py-2">
                                    <a href="{{ path('sub_catalog', {'cat_id': item.id}) }}" class="card bg-dark">
                                        <img src="{{ item.photo }}" class="card-img-top"  height="178px" alt="...">
                                        <div class="card-body p-1 text-light text-center d-flex justify-content-center">
                                            <p class="card-text">{{ item.title }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}
